.container {
    /* width: auto; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px red solid;
}
.box {
    display: flex;
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 10px black solid;
    justify-content: center;
    align-items: center;
}